* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  display: flex;
  background-color: #8f8f8f6c;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.btn button{
  width: 150px;
  height: 40px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: black;
  color: red;
  box-shadow: 0px 0px 20px gray;
  margin: 10px;
  transition: 0.1s;
  position: relative;
  user-select: none;
/* margin-top: 50px; */

  &:active{
    transform: scale(0.9);
  }
}


select{
  width: 150px;
  height: 40px;
/* margin-top: 50px; */

  padding: 10px 40px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  user-select: none;
  outline: none;
  background-color: black;
  color: red;
  box-shadow: 0px 0px 20px gray;
  margin: 10px;
  transition: 0.1s;

  &:active{
    transform: scale(0.9);
  }
}

#text{
  width: 1200px;
  height: 450px;
  padding: 10px 20px ;
  transition: all 0.5s;
  border-radius: 7px;

}

#color{
  width: 150px;
  height: 40px;
  background: #000;
  color: red;
  border-radius: 30px;
  padding: 0px 10px;
  border: none;
}

#changer{
  position: absolute;
  top: 170px;
right: 100px;
border-radius: 50%;
width: 60px;
height: 60px;
background-color: #000;
color: #fff;
border: 2px solid #8f8f8f;
box-shadow: 0px 0px 10px #000;
transition: all 0.5s;
outline: none;
cursor: pointer;
}


#font_family{
  padding: 5px;
  font-size: 16px;

}

#casechanger{
  padding: 5px;
  font-size: 16px;

}